
<h1>Post show page</h1>
<%=@post.title%>
<%=@post.content%>

<% @post.categories.each do |c| %>
<%= c.name %>
<% end %>

<% @post.comments.each do |c|%>
<%= c.content %>
<% end %>

<% @post.distinct_users.each do |user| %>
<%= link_to user.username , user_path(user)%>
<% end %>

<%= form_tag do %>

    <%= label_tag(:comment_content, "Comment for:") %>
    <%= text_field_tag(:comment_content) %>

    <% users_array = @post.distinct_users { |u| [u.username, u.id] } %>
    <%= select(:post, :comment_user_id, options_for_select(users_array)) %>

    <%= submit_tag("Create Comment") %>
<% end %>
